<header class="header">

  <div class="logo">
    <img src="assets/img/logo.png" alt="logo" class="image">
    <h1>Shopping Market</h1>
  </div>

  <nav class="menu">
    <ul>
      <li><a routerLink="/">Anasayfa</a></li>
      <li>
        <a href="#">Kategoriler +</a>
        <ul>
          <li *ngFor="let category of categories"><a routerLink="/products/category/{{category.categoryId}}">{{ category.categoryName }}</a>
          </li>
        </ul>
      </li>
      <li><a href="#">Hakkımızda</a></li>
      <li><a href="#">İletişim</a></li>
      <li><a routerLink="/summary"><div class="cartAmount"></div>Sepet</a></li>
      <li><button class="btn1" (click)="route()">Giriş Yap</button></li>
    </ul>
  </nav>
  <!-- <img src="assets/img/basket.png" alt="basket" class="image basket"> -->
</header>
